---
import Layout from '../layouts/Layout.astro';
import AnimatedBackground from '../components/AnimatedBackground.vue';
import Navbar from '../components/Navbar.vue';
import Hero from '../components/Hero.vue';
import Services from '../components/Services.vue';
import Projects from '../components/Projects.vue';
import Technologies from '../components/Technologies.vue';
import About from '../components/About.vue';
import Process from '../components/Process.vue';
import Contact from '../components/Contact.vue';
import Footer from '../components/Footer.vue';
---

<Layout>
  <AnimatedBackground client:load />
  <Navbar client:load />
  <main class="relative">
    <Hero />
    <Services />
    <Projects />
    <Technologies />
    <About />
    <Process />
    <Contact client:load />
  </main>
  <Footer />
</Layout>
